<nav>
  <div class="max-width-wrapper">
    <div class="logo" routerLink="/" >
      <img src="assets/images/logo.svg" alt="logo" />
    </div>

    <button class="menu">
        <img src="assets/icons/menu.svg" alt="menu">
    </button>

    <div class="nav-links">
      <a class="link" href="#">Home</a>
      <a class="link" href="#services">Services</a>
      <a class="link" href="#faq">Faq</a>
      <a class="link" href="#testimonials">Testimonials</a>
      <a class="link" href="#footer">Contact</a>
    </div>


  </div>
</nav>
