@use '../../../styles/variables' as *
@use '../../../styles/_mixins.sass' as *

.book-us-header
    height: 30rem
    background-color: #000
    border-radius: 10px
    margin-top: 1rem
    @include flex-center()
    align-items: center
    flex-direction: column
    color: white
    padding: 1.5rem
    position: relative
    overflow: hidden

    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.6)
        z-index: 1

    img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        z-index: 0


    .small-subtext
        color: #d5d3d3
        position: relative
        z-index: 2

    .section-title
        position: relative
        z-index: 2
